$font: 'Roboto';
$primary: #20BDB5;
$secondary: #334D5C;
$authCard: #fafafa;
$typography-heading:#000000;
$typography-regular:#606266;
$border:#F2F6FC;

$mainColor: #20BDB5;
$secColor: #B0B0B0;
$dangerColor: #bd3f20;
$hoverColor: #5893ec;
$primaryColor: #1f9aca;
$typographyColor: #373737;
$backgroundColor: #ffffff;
$dangerColor: #D52007;
$loanTheme:#334D5C;


$navFont: 'Roboto';
$borderWidth: 1.5px;